---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About VFO';

const identity = {
  firstName: 'Vincent',
  country: 'Ghana',
  occupation: ['software developer', 'designer'],
  hobbies: ['baking', 'gaming', 'reading'],
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro', 'Rust', 'R'];

---

<BaseLayout pageTitle={pageTitle}>
  <h1 id="intro">Who's VFO?</h1>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.country} and I work as a {identity.occupation[0]} and
      {identity.occupation[1]}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
          .
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

</BaseLayout>
